body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


body * {
  font-size: 1em;
}


.issue-item > span { display:block;line-height:1.4em}
.issue-item { margin-bottom:10px;}
.issue-item .date { font-style:italic; color:#bbb;}
.issue-item .number { font-weight:bold;}
.issues-list li { list-style:none;}
.issues-list { padding:0;}

.header {
    height: 100px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.header .input-group {
  position: relative;
}
.autocomplete {
  position: absolute;
  padding:0;
  margin:0;
  background: white;
  border: 1px solid #e0e0e0;
  border-top:none;
  max-height:200px;
  overflow-y: scroll;
  z-index: 100;
}
.autocomplete li {
  list-style:none;
  padding:2px;
  border-top:1px solid #e0e0e0;
  transition: all 300ms;
}

.autocomplete li:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

.autocomplete li:first-child {
  border-top:none;
}

.issue-details {
  display: flex;
  position: fixed;
  top: 0;
  background: white;
  flex-wrap: wrap;
  padding:10px;
  width: 100%;
  box-sizing: border-box;
  max-height: 100%;
  overflow-y: scroll;
}

.issue-details .close-btn {
  flex-basis:100%;
  text-align: right;
  margin-bottom: 20px;
}

.issue-details .user-info {
  flex:1;
  text-align: center;
  flex-basis: 150px;
}
.issue-details .user-info img {
  max-width: 150px;
  border-radius: 130px;
  clear:both;
}
.issue-details .user-info a {
  display: block;
}
.issue-details .issue-info {
  flex:4;
  flex-basis: 300px;
}

.issue-details .issue-info .title {
  font-size: 1.2em;
    margin-bottom: 20px;
    display: block;
}

.issue-details .issue-info pre {
  white-space: pre-wrap;
}

button {
  border: 1px solid #7a9fc1;
  border-radius: 3px;
  background: #7a9fc1;
  color: white;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
  line-height: 1.35em;
}

button:hover, button:focus, button.selected {
  box-shadow: none;
  background: #6c91b3;
  cursor: pointer;
}

input {
  border: 1px solid gainsboro !important;
  line-height: 1.35em;
  margin-right: 5px;
  border-radius: 3px;
}
input:focus {
  box-shadow: none;
  border: 1px solid #7a9fc1 !important;
  outline: none;
}

button:disabled {
  box-shadow: none;
  background-color: #dedddd;
  border: 1px solid #dedddd;
}

.header input {
  width:200px;
}
.header button  {
  width:70px;
}

.header .autocomplete {
  width: 275px;
}
.header .error {
  display: block;
  color:red;
  font-size:0.7em;
}
.header .input-group.with-error input{
  border:1px solid red !important;
}

.content {
  padding:10px;
}
.per-page * { margin-right:10px;}
.page-navigation {display:flex; justify-content:space-between; margin-top:10px; margin-bottom:10px;}

.list {
    position:relative;
}
.list .overlay {
  position: absolute;
  height: 100%;
  background-color: white;
  display: block;
  width: 100%;
  opacity: 0.8;
}
